
    <!--FashCode Synopsis-->
        <div class="panel panel-default"> 
            <div class="panel-heading">
                <h3 class="panel-title tc">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#codereason">Code Synopsis - More</a></h3></div></div>

    <!--FashCode Terms Alert -->
        <section aria-label="fashcAlert" id="Fashcalert">
            <div class="alert alert-warning alert-dismissible tc" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <p>Code is causality<br> The pattern of prediction formula.</p><br></div></section>

        <section aria-label="fashcSSyp" id="codereason" class="panel-collapse collapse">
            <div class="panel-body"> 
                <section aria-label="AudiSypDetailS" class="comment-content">   
                    <hgroup>
                        <h6>Terminology/Reason</h6>
                        <h5 class="bh tc">Codeing is not as complicated as it appears on the surface.</h5></hgroup>
                    <p>Most documentation for particualr applications is pretty straight forward - all thats really left is learning the language.
                        <br> As long as you know the limits of your versioning(determines variables/definitions) and familiar with the pattern of language - coding becomes a breeze.</p>
                    <p>Therefore think of a "Script" language as a set of tags. No different than the language you speak.
                        <br> Such as "Hello" and "Bye" for example - now add some styleing to create a "Hi" and "See Ya" using the Hi/Bye tags.
                        <br> This will create classes of "Hi/Bye"</p>
                    <p>Now since "See Ya" is different than "See You Later" being two different "styles" they will both require 2 different "classes" or "variables".
                        <br>Its all just grammar</p>
                    <p>Below will feature Tags for the WebSide of coding HTML, CSS as well as Emmet.</p>
                    <p>The combination of these tags creates the language - the combination of languages creates a "Script" or a "Dialogue".</p>
    <!--Tag Grammar-->
                <hgroup class="bible-content">
                    <h5 class="bh">Five W's</h5></hgroup>

                <section class="comment-content">
                    <p>To learn anything one must understand and know the answer to 5 basic questions.</p>
                        <p class="tc">Who, What, When, Where, Why<br>
                        only then can we figure out the How.</p>
                    
                    <div class="cat-main-box" style="padding:9px" >
                        <div class="container-flex">
                            <div class="row panel-row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="panel tc">
                                        <section class="panel-body">
                                            <h3>HTML</h3>
                                            <p>Think of HTML as WHO, When, Where</p>
                                        </section></div></div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="panel tc">
                                        <section class="panel-body">
                                            <h3>CSS</h3>
                                            <p>Think of CSS as WHAT</p>
                                        </section></div></div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="panel tc">
                                        <section class="panel-body">
                                            <h3>JS</h3>
                                            <p>Think of JS as WHY</p>
                                        </section></div></div>
                    </div></div></div></section>

                <hgroup class="bible-content">
                    <h5 class="bh">Basics</h5></hgroup>

                <section class="comment-content">
                    <p class="tc">Your language will depend on what you want to accomplish.</p>
                    <p class="tc">We will break this down in 3 ways with each adding just a tad more info to understand the How.</p>
                    <div class="cat-main-box" style="padding:9px" >
                        <div class="container-flex">
                            <div class="row panel-row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="panel tc">
                                        <section class="panel-body">
                                            <h3>HTML</h3>
                                            <p>Think of HTML as a Noun. </p>
                                        </section></div></div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="panel tc">
                                        <section class="panel-body">
                                            <h3>CSS</h3>
                                            <p>Think of CSS as an Adjective. </p>
                                        </section></div></div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="panel tc">
                                        <section class="panel-body">
                                            <h3>JS</h3>
                                            <p>Think of JS as a Verb. </p>
                                        </section></div></div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="panel tc">
                                        <section class="panel-body">
                                            <h3>HTML/CSS</h3>
                                            <p>Describes Noun Appearance. </p>
                                        </section></div></div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="panel tc">
                                        <section class="panel-body">
                                            <h3>HTML/JS</h3>
                                            <p>Gives the Noun Action. </p>
                                        </section></div></div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="panel tc">
                                        <section class="panel-body">
                                            <h3>CSS/JS</h3>
                                            <p>An Adverb - describing Action of the Noun. </p>
                                            </section></div></div>
                            </div></div></div></section>

                <hgroup class="bible-content">
                    <h5 class="bh">In Reverse</h5></hgroup>

                <section class="comment-content">
                        <table class="data tc">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Does</th>
                                    <th>Concept</th></tr></thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>HTML displays what you see on screen.</td>
                                    <td>Think of HTML as a Noun.</td></tr>
                                <tr>
                                    <td>2.</td>
                                    <td>CSS styles how the display on screen looks.</td>
                                    <td>Think of CSS as an Adjective.</td></tr>
                                <tr>
                                    <td>3.</td>
                                    <td>JS creates the actions on screen.</td>
                                    <td>Think of JS as a Verb.</td></tr>
                                <tr>
                                    <td>4.</td>
                                    <td>HTML/CSS describes the Noun.</td>
                                    <td>Creates a Class</td></tr>
                                <tr>
                                    <td>5.</td>
                                    <td>HTML/JS sets Noun into Action.</td>
                                    <td>Creates a Function.</td></tr>
                                <tr>
                                    <td>6.</td>
                                    <td>CSS/JS designs the actions on screen.</td>
                                    <td>Think of CSS/JS as a Adverb.</td></tr>
                            </tbody></table></section>

                <hgroup class="bible-content">
                    <h5 class="bh">Compound Grammar</h5></hgroup>

                <section class="comment-content">
                    <p>If we Combine HTML/CSS<wbr> we are describing(Adjective)<wbr> what is shown(Noun).<wbr>
                    <br> If we Combine HTML/JS<wbr> we are setting what is shown(Noun)<wbr> into action(Verb).<wbr>
                    <br> If we Combine CSS/JS<wbr> we are describing(Adjective)<wbr> an Action(Verb) creating an Adverb.<wbr></p>
                    
                    <hgroup class="bible-content">
                        <h5 class="bh">Write A Sentence</h5></hgroup>

                    <p>Put it all together and a full sentence<wbr> is written - or a Line of Code.<br>
                    Once we have a few of<wbr> these Lines of Code(sentences)<wbr> we then have a Script<wbr> aka book, movie, dialogue, etc.</p>

                    <hgroup class="bible-content">
                        <h5 class="bh">Terminology</h5></hgroup>

                    <p>This is not a replacement for documentations<wbr>  - this is simply NineNeins focused<wbr>  to cut through all the lingos, theories,<wbr>  and possibilities with all the little tweaks<wbr>  to stop talking and just start codeing.</p>

                    <p class="tc">Every Language Syntax will change<wbr>  - but principle remains the same.</p></section>
            </section>
        </div></section>
        <div class="clearfix"></div>