<!--FashPhoto Synopsis-->
    <div class="panel panel-default"> 
        <div class="panel-heading">
            <h3 class="panel-title tc">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#phoreason">Graphic Synopsis - More</a></h3></div></div>

<!--FashPho Terms Alert -->
    <section aria-label="phoAlert" id="photoalert">        
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">&times;</span></button>
            <p class="tc">Visualized View.<br> A million words is a blank canvas.</p><br></div></section>

<!--Intro-->
    <div aria-label="FashHerePho" class="comment-content tc">
        <span>What better way to start a Graphic Blog than Introductry and Free Stuff.</span></div>

    <article aria-label="PhoSSyp" id="phoreason" class="panel-collapse collapse">
        <div class="panel-body">
            <hgroup>
                <h6>Terminology/Reason</h6>
                <h5 class="bh tc">The World of Graphics</h5></hgroup>

            <p>Most documentation for particualr applications is pretty straight forward - all thats really left is learning the language.
                <br> As long as you know what you seek to acheive, the limits of your vision, and familiar with the pattern of language - Graphics becomes a breeze.</p>
            <p>This section is the absolute basics -  of learning the language.
                <br>The language here is mostly just file types/extensions.</p>
            <p>Therefore think of "Graphics" language as a set of purposes. No different than the language you speak.
                <br> Such as "Apartment", "House", and "Storage" for example - this takes in consideration space and objective.
                <br> This will create your "Type" of "Extension".</p>
            <p>If you are hanging ArtWork on the Wall of your House you want the absolute Best Quality(JPEG) Original(Resolution/Framing) for display. Meanwhile, if for your apartment is to small you can get a print out(Compressed) of the Original to fit anywhere you want to display it(PNG)  
                <br>Its all just purpose.</p>
            <p>The language will determine when to switch between Types and why you should as well - as also when you don't have to.
                <br> Lets focus on just the Main types.</p>
            <p>The combination of these extensions creates the language - the combination of languages displays each Graphic at its optimal resolution.</p>

<!--Tag Grammar-->
            <hgroup class="bible-content">
                <h5 class="bh">Five W's</h5></hgroup>

            <p>To learn anything one must understand and know the answer to 5 basic questions.</p>
            <p class="tc">Who, What, When, Where, Why<br>
                only then can we figure out the How.</p>

            <div class="cat-main-box" style="padding:9px" >
                <div class="container-flex">
                    <div class="row panel-row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="panel tc">
                                <section class="panel-body">
                                    <h2>JPG</h2>
                                    <p>Think of JPG as WHO</p>
                                </section></div></div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="panel tc">
                                <section class="panel-body">
                                    <h2>PNG</h2>
                                    <p>Think of PNG as WHAT, WHEN, &amp; WHERE</p>
                                </section></div></div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="panel tc">
                                <section class="panel-body">
                                    <h2>SVG/Gif/WebP</h2>
                                    <p>Think of these as WHY</p>
                                </section></div></div>
                </div></div></div> 

            <hgroup class="bible-content">
                <h5 class="bh">Basics</h5></hgroup>

            <p class="tc">Graphic language will depend on what you want to accomplish.</p>
            <p class="tc">We will break this down in 3 ways with each adding just a tad more info.</p>
            <div class="cat-main-box" style="padding:9px" >
                <div class="container-flex">
                    <div class="row panel-row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="panel tc">
                                <section class="panel-body">
                                    <h3>JPG</h3>
                                    <p>Think of JPG as a MasterPiece. </p>
                                </section></div></div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="panel tc">
                                <section class="panel-body">
                                    <h3>PNG</h3>
                                    <p>Think of PNG as Advertisement.</p>
                                </section></div></div>
                                
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="panel tc">
                                <section class="panel-body">
                                    <h3>WEBP</h3>
                                    <p>Think of WEBP as Cloud Storage.</p>
                                </section></div></div>
                                
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="panel tc">
                                <section class="panel-body">
                                    <h3>GIF</h3>
                                    <p>Think of GIF as a Animation. </p>
                                </section></div></div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="panel tc">
                                <section class="panel-body">
                                    <h3>SVG</h3>
                                    <p>Think of SVG as Responsive.</p>
                                </section></div></div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="panel tc">
                                <section class="panel-body">
                                    <h3>P-Type</h3>
                                    <p>Think of P-Type as the Editor.</p>
                                </section></div></div>
                </div></div></div>

            <hgroup class="bible-content">
                <h5 class="bh">In Reverse</h5></hgroup>

            <section class="comment-content">
                <table class="data tc">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Does</th>
                            <th>Concept</th></tr></thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>JPG Is a Full Image normally at highest Resolution.</td>
                            <td>Think of JPG as a MasterPiece.</td></tr>
                        <tr>
                            <td>2.</td>
                            <td>PNG Is a Layered Image normally with transparent Resolution.</td>
                            <td>Think of PNG as Advertisement.</td></tr>
                        <tr>
                            <td>3.</td>
                            <td>WEBP creates a Web Friendly Image Compressed for the Web.</td>
                            <td>Think of WEBP as Cloud Storage.</td></tr>
                        <tr>
                            <td>4.</td>
                            <td>GIF creates an Animation.</td>
                            <td>Think of GIF as an Animated Image.</td></tr>
                        <tr>
                            <td>5.</td>
                            <td>SVG creates a Scalable Graphic.</td>
                            <td>Think of SVG as a Responsive Image.</td></tr>
                        <tr>
                            <td>6.</td>
                            <td>P-Type is the Project Editor.</td>
                            <td>Simply named after program such as PSD.</td></tr>
                        </tbody></table></section>

            <hgroup class="bible-content">
                <h5 class="bh">Pro/Con</h5></hgroup>

                <p>The only real Pro/Con here is JPG/PNG and even then it is really not even Pro/Con but merely purpose. With that said :</p>
            <p>JPG<wbr> is far Superior in Quality<wbr> however Inferior in Size.<wbr>
            <br>PNG<wbr> is far Superior in Size<wbr> however can be Equivalent in Quality.<wbr>
            <br>WebP<wbr> varies<wbr> and more of a default creating much more work with very little benefit.<wbr></p>
                <p>As Options here are just standard.</p>
            <p>GIF<wbr> is Animated<wbr> thats all it is.<wbr>
            <br>SVG<wbr> is Vector<wbr> for Logos and the like.<wbr>
            <br>P-Type<wbr> varies<wbr> On your Image Editor.<wbr></p>

            <hgroup class="bible-content">
                <h5 class="bh">JPG/PNG Differences</h5></hgroup>

            <p>JPG dominates in Showcase/Slideshow such as Photography/HD - with pixels comes great filesize.<wbr> This is not really a problem until rendering, transferring, uploading, and downloading. Where the problem caused is by data of all those Pixels.</P>
            <p>Sure one could compress the JPG to make it smaller - but compression has already reduced pixels therefore taken utility out of JPG.<wbr> Enter PNG<wbr> which is way more versatile.<wbr> PNG is my default for this very reason, which also gives the option to remove backgrounds and Layer. Although the compromise is normally resolution.</p>
            <p>All in all JPG should only be used for personal collections/Originals/Production/Showcase.<br>
                Png on the other hand is for quite everything else except Animation, SVG, or P-Type</p>
            <p>Where does this leave WEBP?<br>
                WEBP is going to be most of the download images from the WEB<wbr> unless pulled from the actual source.<br>
                You could use WEBP for even further compression - not advised<wbr> for such little benefit as I recommend to just convert to PNG.</p>

            <hgroup class="bible-content">
                <h5 class="bh">Terminology</h5>
            </hgroup>

            <p>This is not a replacement for documentations<wbr> - this is simply NineNeins focused<wbr>  to cut through all the lingos, theories,<wbr>  and possibilities with all the little tweaks<wbr>  to stop talking and start Designing.</p>
            <p class="tc">Everything this moment on will be overwhelmingly Adobe<wbr> - but principles remain the same no matter the editor.</p>
        </div></article>
    <div class="clearfix"></div>
