<section aria-label="GreyTop" class="panel-body">
    <div class="panel panel-default">
    <!--Main-->
        <div class="content panel-body">
            <div class="content-inner 9touch">
                <section aria-label="SaintArray" class="cat-main-box">
                    <section class="comment-content"></section>
    <!--Contain-->
            <div class="container-fluid tc">
    <!--Tech-->
                <section aria-label="Softe" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <hgroup>
                                <h2>Softwares/Tools:<br> Why, How, Build</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-SoftH">&nbsp;</span>
                            <br><p>Everything from Browser, Sublime, Programs to Creation.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('Tech/SoftWare','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Hardw" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Hardwares/Tools:<br> Why, How, Build</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-HardH">&nbsp;</span><br>
                            <p>Everything from MotherBoard, CPU, to Periphrials.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('Tech/HardWare','popup','_blank'); return false;"><span>Read</span></a></div> 
                        </div></div></section>
                <section aria-label="Ctyptow" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Crypto/Useage:<br> Why, How, Useage</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-HardH">&nbsp;</span><br>
                            <p>Everything Crypto, Why, and Reasoning.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('Tech/CryptoTalk','popup','_blank'); return false;"><span>Read</span></a></div> 
                        </div></div></section>
                    </div></section></div></div>
    <!--Main-->
        <div class="content panel-body">
            <div class="content-inner 9touch">
                <section aria-label="NatSocArray" class="cat-main-box">
                    <section class="comment-content"><h5 class="section-heading tc center-block">NatSoc Array</h5></section>
    <!--Contain-->
            <div class="container-fluid tc">
    <!--NatSoc-->
                <section aria-label="Booke" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Books: From Shelved Places</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-BookH">&nbsp;</span><br>
                            <p>A Library of Literature.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/books','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Manie" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Saints: From Heartful Places</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-SaintH">&nbsp;</span><br>
                            <p>A Collection of Words.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/saints','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Vide" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>Video: From Inspiring Places</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-VidH">&nbsp;</span><br>
                            <p>An Archive of Videos.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/video','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Muse" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Music: From Soulful Places</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-MusicH">&nbsp;</span><br>
                            <p>A Playlist of Lyrics.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/music','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Gamee" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>Games: From Created Places</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-GameH">&nbsp;</span><br>
                            <p>A Set of Predecessors.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/arcade','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Filme" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>Films: From Suspect Places</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-MovieH">&nbsp;</span><br>
                            <p>An Inspiration of Works.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/inspiration','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                    </div></section></div></div>
    <!--Main-->
        <div class="content panel-body">
            <div class="content-inner 9touch">
                <section aria-label="FashpArray" class="cat-main-box">
                    <section class="comment-content"><h5 class="section-heading tc">Fash Array</h5></section>
    <!--Contain-->
            <div class="container-fluid tc">
    <!--Fash-->             
                <section aria-label="FCE" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>FashCode: CSS-Python</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-CodeH">&nbsp;
                            </span><br>
                            <p>Everything Code</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('GreyingError/Code/FashCode','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="FPE" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>FashPhoto: Adobe</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-PhotoH">&nbsp;</span><br>
                            <p>Everything Visuals</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('GreyingError/Graphic/FashPhoto','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="FAE" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>FashAlongs: Daw-Plugs</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-AudioH">&nbsp;</span><br>
                            <p>Everything Audio.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('GreyingError/Audio/FashAlong','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Javeline" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>Bible : Aarons Javelin Pins</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-GaboH">&nbsp;</span><br>
                            <p>Sermantic for Gab Post limits.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('https://gab.com/GreyingError/posts/107808934011424683','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="PhinehasZeal" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Bible: Phinehas Sermantics</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-SermantH">&nbsp;</span><br>
                            <p>Sermantic for LNST.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="BCCWW" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>Bible: White World Views</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-WhiteWorldH">&nbsp;</span><br>
                            <p>Everything is Scripture.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('','_blank'); return false;"><span>Read</span></a></div>
                            </div></div></section>
                        </div></section></div></div>
    <!--Main-->
        <div class="content panel-body">
            <div class="content-inner 9touch">
                <section aria-label="LNST Array" class="cat-main-box">
                    <section class="comment-content"><h5 class="section-heading tc">Link NatSoc Array</h5></section>
    <!--Contain-->
            <div class="container-fluid tc">
    <!--LNST-->
                <section aria-label="LNSTstart" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Link NatSoc Theory: Synopsis</h2></hgroup>
                            <span class="img-responsive center-block InspireB ls-LNSTBthum">&nbsp;</span><br>
                            <p>The adventure starts here.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/Synopsis','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="LNSTShieItem" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Link NatSoc Theory: Shielded</h2></hgroup>
                            <span class="img-responsive center-block InspireB ll-LNSTBthum">&nbsp;</span><br>
                            <p>Shield Items. Why are they important?</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/Shield','popup','_blank'); return false;"><span>Read</span></a></div>
                            </div></div></section>
                <section aria-label="LNSTTimes" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Link NatSoc Theory: Timeline</h2></hgroup>
                            <span class="img-responsive center-block InspireB tl-LNSTBthum">&nbsp;</span><br>
                            <p>Time is one of my favorite topics!</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/TimeLine','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="LNSTForced" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Link NatSoc Theory: Triforce</h2></hgroup>
                            <span class="img-responsive center-block InspireB lf-LNSTBthum">&nbsp;</span><br>
                            <p>The most iconic symbol in the gaming world.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/TriForce','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="LNSTGenes" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Link NatSoc Theory: Racials</h2></hgroup>
                            <span class="img-responsive center-block InspireB lr-LNSTBthum">&nbsp;</span><br>
                            <p>Race is real, race matters, race is everything!</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/Race','popup','_blank'); return false;"><span>Read</span></a></div>
                            </div></div></section>
                <section aria-label="LNSTChrist" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Link NatSoc Theory: Religion</h2></hgroup>
                            <span class="img-responsive center-block InspireB lc-LNSTBthum">&nbsp;</span><br>
                            <p>Did Zelda leave anything out? No!</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/Religion','popup','_blank'); return false;"><span>Read</span></a></div>
                            </div></div></section>
                        </div></section></div></div></div></section>
