<section aria-label="GreyTop" class="panel-body">
    <div class="panel panel-default">
    <!--Recom Topic-->
        <div class="content panel-body">
            <div class="content-inner 9touch">
                <section aria-label="RecArray" class="cat-main-box">
        <!--Menu Jump -->
            <div class="panel panel-default">
                <div class="panel-heading SHFREAD">
                    <h3 class="panel-title tc">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#creationed">Recommended</a></h3></div></div>
        <!--Main --> 
                    <section class="col-MainX col-lg-MainL col-MainM col-sm-MainS">
        <!--Folder Preview -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <h1 class="img-responsive center-block TechFolder swt-TechSWRCleanFolder tc"></h1>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <h1 class="img-responsive center-block TechFolder swt-TechSWCPUFolder tc"></h1>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <h1 class="img-responsive center-block TechFolder swt-TechSWCCleanFolder tc"></h1>
                        </div>
        <!--Recom MainMenu End --> 
                    </section>
        <!--Open Recom -->
            <div id="creationed" class="panel-collapse collapse">
        <!--Contain-->
                <div class="container-fluid tc">
        <!--Recom Entry-->
                <section aria-label="Softe" class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                            <hgroup>
                                <h2>Softwares/Tools:</h2> 
                                <h5>Why, How, Build</h5></hgroup>
                            <span class="img-responsive center-block InspireB IB-SoftH">&nbsp;</span>
                            <br><p>Everything from Browser, Sublime, Programs to Creation.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('Tech/SoftWare','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Hardw" class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Hardwares/Tools</h2> 
                            <h5>Why, How, Build</h5></hgroup>
                            <span class="img-responsive center-block InspireB IB-HardH">&nbsp;</span><br>
                            <p>Everything from MotherBoard, CPU, to Periphrials.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('Tech/HardWare','popup','_blank'); return false;"><span>Read</span></a></div> 
                        </div></div></section>
                <section aria-label="Ctyptow" class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Crypto/Useage</h2> 
                            <h5>Why, How, Useage</h5></hgroup>
                            <span class="img-responsive center-block InspireB IB-CryptoH">&nbsp;</span><br>
                            <p>Everything Crypto, Why, and Reasoning.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('Tech/CryptoTalk','popup','_blank'); return false;"><span>Read</span></a></div> 
                        </div></div></section>
        <!--Recom End-->
                    </div></div></section></div></div>

    <!--NatSoc Topic-->        
        <div class="content panel-body">
            <div class="content-inner 9touch">
                <section aria-label="NatSocArray" class="cat-main-box">
        <!--Menu Jump -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title tc">
                    NatSoc Array</h3></div></div>
        <!--Contain-->
            <div class="container-fluid tc">
        <!--NatSoc Entry-->
                <section aria-label="Booke" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Books</h2> 
                            <h5>From Shelved Places</h5></hgroup>
                            <span class="img-responsive center-block InspireB IB-BookH">&nbsp;</span><br>
                            <p>A Library of Literature.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/books','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Manie" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Saints</h2> 
                            <h5>From Heartful Places</h5></hgroup>
                            <span class="img-responsive center-block InspireB IB-SaintH">&nbsp;</span><br>
                            <p>A Collection of Words.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/saints','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Vide" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>Video</h2> 
                            <h5>From Inspiring Places</h5></hgroup>
                            <span class="img-responsive center-block InspireB IB-VidH">&nbsp;</span><br>
                            <p>An Archive of Videos.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/video','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Muse" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Music</h2>
                            <h5>From Soulful Places</h5></hgroup>
                            <span class="img-responsive center-block InspireB IB-MusicH">&nbsp;</span><br>
                            <p>A Playlist of Lyrics.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/music','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Gamee" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>Games</h2> 
                            <h5>From Created Places</h5></hgroup>
                            <span class="img-responsive center-block InspireB IB-GameH">&nbsp;</span><br>
                            <p>A Set of Predecessors.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/arcade','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="Filme" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>Films</h2> 
                            <h5>From Suspect Places</h5></hgroup>
                            <span class="img-responsive center-block InspireB IB-MovieH">&nbsp;</span><br>
                            <p>An Inspiration of Works.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('NatSoc/inspiration','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
        <!--NatSoc End-->
                    </div></section></div></div>
    
    <!--Fash Topic-->
        <div class="content panel-body">
            <div class="content-inner 9touch">
                <section aria-label="FashpArray" class="cat-main-box">
    <!--Menu Jump -->
            <div class="panel panel-default">
                <div class="panel-heading SHFREAD">
                    <h3 class="panel-title tc">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#FashPro">Fash Project Array</a></h3></div></div>
        <!--Main --> 
                    <section class="col-MainX col-lg-MainL col-MainM col-sm-MainS">
        <!--Folder Preview -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <h1 class="img-responsive center-block TechFolder swt-TechSLFolder tc"></h1>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <h1 class="img-responsive center-block TechFolder swt-TechADOFolder tc"></h1>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <h1 class="img-responsive center-block TechFolder swt-TechPTFolder tc"></h1>
                        </div>
        <!--Fash MainMenu End --> 
                    </section>
    <!--Open -->
            <div id="FashPro" class="panel-collapse collapse">
    <!--Contain-->
                <div class="container-fluid tc">
    <!--Fash Entry-->             
                <section aria-label="FCE" class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>FashCode</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-CodeH">&nbsp;
                            </span><br>
                            <p>Everything Code</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('GreyingError/Code/FashCode','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="FPE" class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>FashPhoto</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-PhotoH">&nbsp;</span><br>
                            <p>Everything Visuals</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('GreyingError/Graphic/FashPhoto','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="FAE" class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>FashAlongs</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-AudioH">&nbsp;</span><br>
                            <p>Everything Audio.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('GreyingError/Music/FashAlong','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
        <!--Fash End-->
                    </div></div></section></div></div>
    <!--Bible Topic-->
        <div class="content panel-body">
            <div class="content-inner 9touch">
                <section aria-label="FashpArray" class="cat-main-box">
        <!--Menu Jump -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title tc">
                    Bible</h3></div></div>            
    <!--Open -->
            <div id="BibleSermantic" class="panel-collapse collapsed">
    <!--Contain-->
            <div class="container-fluid tc">
        <!--Bible Entry-->
                <section aria-label="Javeline" class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>Aarons Javelin Pins</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-GaboH">&nbsp;</span><br>
                            <p>Sermantic for Gab Post limits.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('https://gab.com/GreyingError/posts/107808934011424683','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="PhinehasZeal" class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>
                            <h2>Phinehas Sermantics</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-SermantH">&nbsp;</span><br>
                            <p>Sermantic for LNST.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="BCCWW" class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup>    
                            <h2>White World Views</h2></hgroup>
                            <span class="img-responsive center-block InspireB IB-WhiteWorldH">&nbsp;</span><br>
                            <p>Everything is Scripture.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="_blank" onclick="window.open('','_blank'); return false;"><span>Read</span></a></div>
                            </div></div></section>
        <!--Bible End-->
                        </div></div></section></div></div>
    <!--LNST Topic-->
        <div class="content panel-body">
            <div class="content-inner 9touch">
                <section aria-label="LNST Array" class="cat-main-box">
    <!--Menu Jump -->
            <div class="panel panel-default">
                <div class="panel-heading SHFREAD">
                    <h3 class="panel-title tc">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LNSTGREY">Link NatSoc Theory</a></h3></div></div>
        <!--Main --> 
                    <section class="col-MainX col-lg-MainL col-MainM col-sm-MainS">
        <!--Folder Preview -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <h1 class="img-responsive center-block icon9add icon9-zelda tc"></h1>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <h1 class="img-responsive center-block TechFolder swt-GreyLnstFolder tc"></h1>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <h1 class="img-responsive center-block icon9add icon9-zelda tc"></h1>
                        </div>
        <!--LNST Menu End-->
                    </section>
    
    <!--Open -->
            <div id="LNSTGREY" class="panel-collapse collapse">
    <!--Contain-->
            <div class="container-fluid tc">
    <!--LNST-->
                <section aria-label="LNSTstart" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Synopsis</h2></hgroup>
                            <span class="img-responsive center-block InspireB ls-LNSTBthum">&nbsp;</span><br>
                            <p>The adventure starts here.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/Synopsis','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="LNSTShieItem" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Shielded</h2></hgroup>
                            <span class="img-responsive center-block InspireB ll-LNSTBthum">&nbsp;</span><br>
                            <p>Shield Items. Why are they important?</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('','popup','_blank'); return false;"><span>Read</span></a></div>
                            </div></div></section>
                <section aria-label="LNSTTimes" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Timeline</h2></hgroup>
                            <span class="img-responsive center-block InspireB tl-LNSTBthum">&nbsp;</span><br>
                            <p>Time is one of my favorite topics!</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/TimeLine','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="LNSTForced" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Triforce</h2></hgroup>
                            <span class="img-responsive center-block InspireB lf-LNSTBthum">&nbsp;</span><br>
                            <p>The most iconic symbol in the gaming world.</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/TriForce','popup','_blank'); return false;"><span>Read</span></a></div>
                        </div></div></section>
                <section aria-label="LNSTGenes" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Racials</h2></hgroup>
                            <span class="img-responsive center-block InspireB lr-LNSTBthum">&nbsp;</span><br>
                            <p>Race is real, race matters, race is everything!</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/Race','popup','_blank'); return false;"><span>Read</span></a></div>
                            </div></div></section>
                <section aria-label="LNSTChrist" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <hgroup> 
                            <h2>Religion</h2></hgroup>
                            <span class="img-responsive center-block InspireB lc-LNSTBthum">&nbsp;</span><br>
                            <p>Did Zelda leave anything out? No!</p>
                            <div class="btn-1 center-block">
                                <a style="center" target="popup" onclick="window.open('GreyingError/LNST/Religion','popup','_blank'); return false;"><span>Read</span></a></div>
                            </div></div></section>
        <!--LNST END --> 
                        </div></div></section></div></div>
        <!--END END --> 
                    </div></section>
