<!--InfoWrap Open -->
    <div class="panel-body">
        <section class="content" aria-label="fashwrapp">
            <div class="panel-footy panel-default tc">
<!--Header -->
                <hgroup>
                    <h2 class="icon9add icon9-info-sign text-primary" style="font-size: 40px"></h2>
                    <h4>Fash</h4></hgroup> 
                <p class="text-muted">Intricate basics<br> to accomplish anything.</p>  
            </div></section>
<!--Quote -->
        <div class="panel_row">
            <div class="blog-content col-MainX col-lg-MainL col-MainM col-sm-MainS">
            <p class="text-muted">"Content Creation is more than just producing something<br><u>It is having and knowing the tools to do anything.</u></p></div></div>
<!--InfoWrap Close -->
    </div>