<div class="panel-group" id="accordion">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Saints">Support</a>
            </h4></div></div>
        
    <div id="Saints" class="panel-collapse collapse">

        <div class="panel panel-default panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#LifeRow">Life Row</a>
            </h4></div>

        <div class="panel panel-default panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#Decades">10+ Years</a>
            </h4></div></div>

        <div id="LifeRow" class="panel-collapse collapse">

            <a class="badge bg-secondary text-decoration-none link-light" href="https://9neinsg.github.io/NineNein/B-Topic/Support/DylanRoof">Dylan Roof</a>

            <a class="badge bg-secondary text-decoration-none link-light" href="https://9neinsg.github.io/NineNein/B-Topic/Support/JohnEarnest">John Earnest</a>

            <a class="badge bg-secondary text-decoration-none link-light" href="https://9neinsg.github.io/NineNein/B-Topic/Support/RobertBowers">Robert Bowers</a>
        </div>

        <div id="Decades" class="panel-collapse collapse">
                    
            <a class="badge bg-secondary text-decoration-none link-light" href="https://9neinsg.github.io/NineNein/B-Topic/Support/MatthewHale">Matt Hale</a>
        </div>
    </div>
