<section aria-label="BookTop" class="panel-body">
    <div class="panel panel-default">
    <!--Menu Jump--> 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title tc">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#book">Learn This</a></h3></div></div>
        <!--Terms Alert-->
        <section aria-label="BookAlert" id="softwarealert">
            <div class="alert alert-warning alert-dismissible tc" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&nbsp;</span><span class="sr-only">Close</span></button>
                    <p>Support Pro-White authors and READ THEIR WORK.</p><p>Wisdom is priceless.</p></div></section>
    <!--Open-->
            <div id="bookz" class="panel-collapse collapsed">
            <!--Main-->
                <div class="content panel-body">
                    <div class="content-inner">
                        <section aria-label="BookArray" class="cat-main-box">
                            <section class="comment-content"></section>
    <!--Contain-->
            <div class="container-fluid tc">
    <!--Books-->
                <section aria-label="88-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                        <h2>88 Precepts</h2>
                            <span class="img-responsive center-block bookm bm-88">&nbsp;</span><br>
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/88_Precepts-David_Lane.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/88_Precepts-David_Lane.pdf','popup'); return false;"><span>DL</span></a></div>
                        </div></div></section>
                <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                           <h2>Central Banking</h2>
                           <span class="img-responsive center-block bookm bm-CBE">&nbsp;</span><br>
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/A_History_of_Central_Banking.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://www.ebay.com/sch/i.html?_from=R40&amp;_nkw=A+History+of+Central+Banking+and+the+Enslavement+of+Mankind&amp;_sacat=0&amp;LH_TitleDesc=0&amp;LH_BIN=1&amp;_sop=12','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="ATR-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Anti-Tech Revolution</h2>
                            <span class="img-responsive  center-block bookm bm-ATR">&nbsp;</span><br>  
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Kaczynski_Anti-Tech_Rev_WH.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://www.ebay.com/sch/i.html?_from=R40&amp;_trksid=p2334524.m570.l1313&amp;_nkw=anti-tech+revolution&amp;_sacat=0&amp;LH_TitleDesc=0&amp;_odkw=Anti-Tech+Revolution%3A+Why+and+How&amp;_osacat=0&amp;LH_BIN=1&amp;_sop=12','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="CNT-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Christogenea</h2>
                            <span class="img-responsive  center-block bookm bm-CHR">&nbsp;</span><br>  
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://christogenea.org/CNT/contents','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://christogenea.com/store/christogenea-new-testament-softcover','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="CC-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Culture Critique</h2> 
                            <span class="img-responsive center-block bookm bm-COC">&nbsp;</span><br>
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/The_Culture_Critique.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://www.thriftbooks.com/w/the-culture-of-critique-an-evolutionary-analysis-of-jewish-involvement-in-twentieth-century-intellectual-and-political-movements_kevin-b-macdonald/348740/?resultid=8f229fa1-e06d-41a4-9795-0cc3f315b780#edition=3150175&amp;idiq=10682426','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="FA-DL"class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div aria-label="FA-DL" class="panel-body">
                            <h2>Faith Action</h2> 
                            <span class="img-responsive center-block bookm bm-FA">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Faith_and_Action.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Daith_and_Action.pdf','popup'); return false;"><span>DL</span></a></div>
                        </div></div></section>
                <section aria-label="FD-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Fascist Duties</h2> 
                            <span class="img-responsive center-block bookm bm-FESD">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Fascist_Economics_Socialism_of_Duty.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Fascist_Economics_Socialism_of_Duty.pdf','popup'); return false;"><span>DL</span></a></div>
                        </div></div></section>
                <section aria-label="FML-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>For Legionaries</h2> 
                            <span class="img-responsive  center-block bookm bm-FML">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Corneliu_Codreanu-For_My_Legionaries.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://www.ebay.com/sch/i.html?_from=R40&amp;_trksid=p2334524.m570.l1313&amp;_nkw=For+My+Legionaries&amp;_sacat=0&amp;LH_TitleDesc=0&amp;_osacat=0&amp;LH_BIN=1&amp;_odkw=for+my+legionaries&amp;_sop=12','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="HS-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Hell Storm</h2>
                            <span class="img-responsive  center-block bookm bm-HS">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Hellstorm-Thomas_Goodrich.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://cosmotheistchurch.org/product/hellstorm-the-death-of-nazi-germany-1944-1947-by-thomas-goodrich/','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="TIJ-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>International Jew</h2>
                            <span class="img-responsive  center-block bookm bm-IJ">&nbsp;</span><br>
                            <div class="btn-1 center-block"> 
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/HenryFord-International_Jew.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/HenryFord-International_Jew.pdf','popup'); return false;"><span>DL</span></a></div>
                        </div></div></section>
                <section aria-label="JRS-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Jew Revo Spirit</h2> 
                            <span class="img-responsive center-block bookm bm-TJRS">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Jones_Jew_Rev_Spirit.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://www.fidelitypress.org/book-products/the-jewish-revolutionary-spirit','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="MK-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Mein Kampf</h2> 
                            <span class="img-responsive center-block bookm bm-MK">&nbsp;</span><br>
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Mein_Kampf_Dalton.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://www.thriftbooks.com/w/mein-kampf-vol-1-new-english-translation/20149483/#edition=21439753&amp;idiq=31102654','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="WMP-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>War Meta Pysics</h2> 
                            <span class="img-responsive center-block bookm bm-MPOW">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/The_Metaphysics_of_War.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://www.ebay.com/sch/i.html?_from=R40&amp;_trksid=p2334524.m570.l1313&amp;_nkw=Metaphysics+of+War&amp;_sacat=0&amp;LH_TitleDesc=0&amp;_osacat=0&amp;LH_BIN=1&amp;_odkw=metaphysics+of+war&amp;_sop=12','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="NSB-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>NatSoc Biology</h2> 
                            <span class="img-responsive  center-block bookm bookm bm-NSB">&nbsp;</span><br>
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/A_Biological_Worldview.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/A_Biological_Worldview.pdf'.pdf','popup'); return false;"><span>DL</span></a></div>
                        </div></div></section>
                <section aria-label="JMS-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Siege</h2> 
                            <span class="img-responsive  center-block bookm bm-JMS">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Siege-James_Mason.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Siege-James_Mason.pdf','popup'); return false;"><span>DL</span></a></div>
                        </div></div></section>
                <section aria-label="TTW-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>This Time World</h2> 
                            <span class="img-responsive  center-block bookm bm-TTTW">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/This_Time_The_World-Rockwell.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://www.ebay.com/sch/i.html?_from=R40&amp;_trksid=p2334524.m570.l1313&amp;_nkw=This+Time+The+World+By+George+Lincoln+Rockwell&amp;_sacat=0&amp;LH_TitleDesc=0&amp;_odkw=This+time+the+world&amp;_osacat=0','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="TEL-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Tomorrow We Live</h2> 
                            <span class="img-responsive center-block bookm bm-TWL">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Mosley-Tomorrow_We_Live.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://www.ebay.com.au/sch/i.html?_from=R40&amp;_nkw=Tomorrow+We+Live+by+Oswald+Mosley+&amp;_sacat=0&amp;rt=nc&amp;LH_BIN=1&amp;_stpos=31558&amp;_fcid=1','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="TTD-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Turner Diaries</h2> 
                            <span class="img-responsive center-block bookm bm-TTD">&nbsp;</span><br>
                            <div class="btn-1 center-block"> 
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Turner_Diaries.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://cosmotheistchurch.org/product/the-turner-diaries-third-edition/','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="WWWM-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Which Way WMan</h2> 
                            <span class="img-responsive center-block bookm bm-WWWM">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Which_Way_Western_Man.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('https://cosmotheistchurch.org/product/which-way-western-man-by-william-gayley-simpson/','popup'); return false;"><span>Buy</span></a></div>
                        </div></div></section>
                <section aria-label="WP-DL" class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>White Power</h2> 
                            <span class="img-responsive center-block bookm bm-WP">&nbsp;</span><br> 
                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/White_Power_Rockwell.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/White_Power_Rockwell.pdf','popup'); return false;"><span>DL</span></a></div>
                        </div></div></section>
                <section aria-label="WEA-DL"  class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Who We Are</h2>
                            <span class="img-responsive center-block bookm bookm bm-WEA">&nbsp;</span><br>
                            <div class="btn-1 center-block"> 
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Pierce_William_Luther-Who_We_Are.pdf','popup'); return false;"><span>Online/DL</span></a>
                                <a class="btn-readmore button" style="center" target="popup" onclick="window.open('../../../../../../Import/DL/Books/Pierce_William_Luther-Who_We_Are.pdf','popup'); return false;"><span>DL</span></a></div>
                        </div></div></section>
                    </div></section></div></div></div>
                </div></section>