<!--Top BowersPro-->
<section aria-label="bowerproTop">
    <div class="panel-default">
        <!--Name -->
        <section aria-label="BowerBio" class="panel-default panel-body comment-content">
            <section class="panel panel-default panel-body">
                <div class="panel-heading">
                    <hgroup class="panel-title tc">
                        <h6>Robert Gregory Bowers</h6>
                        <h5>aka Optics</h5></hgroup></div></section>
            <!--Box-->
            <div class="content panel panel-default panel-body">
                <div class="content-inner">
                    <section aria-label="BowerArray" class="cat-main-box">
                        <!--Contain-->
                        <div class="container-fluid">
                            <div class="clearfix"></div>
                            <div class="row panel-row tc">
                                <!--Bowers Image-->
                                <figure aria-label="RBowers"> 
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <span class="img-responsive center-block saint-sd ss-BowerOpticss">&nbsp;</span></div></div></div>
                                    <!--Earnest Brief-->
                                    <figcaption aria-label="EarnestBio"> 
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="panel">
                                                <div class="panel-body">
                                                     <table class="dltab data no-wrap" style="width: 300px; height: 300px;">
                                                        <tr>
                                                            <th>Birthday</th>
                                                            <td class="yelloOn">September 4, 1972</td></tr>
                                                        <tr>
                                                            <th>Act</th>
                                                            <td class="yelloOn">October 27, 2018</td></tr>
                                                        <tr>
                                                            <th>Convicted</th>
                                                            <td class="yelloOn">TBD<br>{State}</td>
                                                            <td class="yelloOn">June 16, 2023<br>{Federal}</td></tr>
                                                        <tr>
                                                            <th>Sentenced</th>
                                                            <td class="yelloOn">TBD<br>{State}</td>
                                                            <td class="yelloOn">August 2, 2023<br>{Federal}</td></tr>
                                                        <tr>    
                                                            <th>Release Date</th>
                                                            <td class="yelloOn">Death</td></tr>
                                                            </table></div></div></div>
                                                </figcaption></figure>
                                    </div></div></section></div>
                <div class="clearfix"></div>
<!--Summary-->
                <div class="panel-default panel-body tc">
                    <p>Robert Gregory Bowers, of Baldwin, P.A., an avowed White Nationalist<br>
                    whom went to war against HIAS to protect the border was sentenced to<br>
                    TBD(State - TBD)
                    August 2, 2023(Federal - Death)<br>
                    (State is still pending)<br><br>
                    Bowers is tackeling strategic legal aspects highlighting his war against HIAS not jews, which may not seem like a big deal, until it forces a different set of talking points and seeing as the State has not moved forward shows the impact Bowers is making. Not to mention his appeal in the Fed Case rest on the very same. Bower Optics are powerful.</p></div></div>
        </section></div></section>