<!--Bio -->
                <section aria-label="DRBio" class="comment-content">
                <h4>Robert Gregory Bowers</h4>
            <!--Figure -->
                <figure id="RobertBowerz" class="clearfix">
                    <span class="img-responsive col-xl-6 col-lg-6 col-md-6 col-sm-6 center-block saint-sd sd-BowerOpticss">&nbsp;</span>
                    <figcaption id="RobertBio" class="col-xl-6 col-lg-6 col-md-6 col-sm-6"><br>
                        <table class="data no-wrap">
                                <tr>
                                    <th>Birthday</th>
                                    <td>September 4, 1972</td></tr>
                                <tr>
                                    <th>Act</th>
                                    <td>October 27, 2018</td></tr>
                                <tr>
                                    <th>Convicted</th>
                                    <td>No</td></tr>
                                <tr>
                                    <th>Sentenced</th>
                                    <td>Trial April 24, 2023</td></tr>
                        </table></figcaption></figure>
<!--Summary-->
                <section aria-label="RGBSumm" class="comment-content">
                    <p>Robert Gregory Bowers, of Baldwin, P.A., an avowed White Nationalist, </p></section></section>