                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title tc">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#CommissG">ReadMore</a></h3></div>

                <section id="CommissG" aria-label="Com" class="comment-content panel-collapse collapse">
                    <p>A prison commissary is a store within a correctional facility,
                    from which inmates may purchase products such as
                    hygiene items, snacks, writing instruments, etc.</p>

                    <p>Helping keep an inmate's commissary loaded up is a great way to show
                    that you care. It can help them purchase the stamps, newspapers, and other
                    items that help them connect with and keep up with the outside world.</p></section></div>