<!--Bio -->
                <section aria-label="JEBio" class="comment-content">
                <h4>John Timothy Earnest</h4>
            <!--Figure -->
                <figure id="JohnEarnest" class="clearfix">
                    <span class="img-responsive col-xl-6 col-lg-6 col-md-6 col-sm-6 center-block saint-sd sd-EarnestLetterss">&nbsp;</span>
                    <figcaption id="EarnestBio" class="col-xl-6 col-lg-6 col-md-6 col-sm-6"><br>
                        <table class="data no-wrap">
                                <tr>
                                    <th>Birthday</th>
                                    <td>June 8, 1999</td></tr>
                                <tr>
                                    <th>Act</th>
                                    <td>April 27, 2019</td></tr>
                                <tr>
                                    <th>Convicted</th>
                                    <td>April 30, 2019</td></tr>
                                <tr>
                                    <th>Sentenced</th>
                                    <td>September 30, 2021(State)<br><br>
                                    December 28, 2021(Federal)
                                </td></tr>
                        </table></figcaption></figure>
<!--Summary-->
                <section aria-label="JESumm" class="comment-content">
                    <p>John Timothy Earnest, of San Diego C.A. (Rancho Peñasquitos), 
                    September 30, 2021(State - Life + 127 years)<br>
                    December 28, 2021(Federal - Life + 30)<br>
                    (federal and state life sentences would run one after the other instead of concurrently)
                    </p></section></section>