<!--Bio -->
                <section aria-label="MHBio" class="comment-content">
                <h4>Philip Hassler</h4>
            <!--Figure -->
                <figure id="MattHale" class="clearfix">
                    <span class="img-responsive col-xl-6 col-lg-6 col-md-6 col-sm-6 center-block saint-sd sd-BondOpticss">&nbsp;</span>
                    <figcaption id="HaleBio" class="col-xl-6 col-lg-6 col-md-6 col-sm-6"><br>
                        <table class="data no-wrap">
                                <tr>
                                    <th>Birthday</th>
                                    <td>Dec 28, 1986</td></tr>
                                <tr>
                                    <th>Act</th>
                                    <td>tbd</td></tr>
                                <tr>
                                    <th>Convicted</th>
                                    <td>Yes - April 6, 2005</td></tr>
                                <tr>
                                    <th>Sentenced</th>
                                    <td>10 Years - March 31, 2022</td>
                                    <th>Release Date</th>
                                    <td>tbd</tr>
                        </table></figcaption></figure>
<!--Summary-->
                <section aria-label="MHSumm" class="comment-content">
                    <p>Philip Hassler of Austria, was born Dec 28th 1986. Phillip whims stage name you may know him by Mr.Bond was arrested on January 20, 2021 for making music. Philip has been prosecuted and sentenced to 10 years for producing and spreading Nazi ideas and inciting hatred.</p> 
                </section></section>