<!--Bio -->
                <section aria-label="DRBio" class="comment-content">
                <h4>Dylann Storm Roof</h4>
            <!--Figure -->
                <figure id="DylanRoof" class="clearfix">
                    <span class="img-responsive col-xl-6 col-lg-6 col-md-6 col-sm-6 center-block saint-sd sd-Roofss">&nbsp;</span>
                    <figcaption id="RoofBio" class="col-xl-6 col-lg-6 col-md-6 col-sm-6"><br>
                        <table class="data no-wrap">
                                <tr>
                                    <th>Birthday</th>
                                    <td>April 3, 1994</td></tr>
                                <tr>
                                    <th>Act</th>
                                    <td>June 17, 2015</td></tr>
                                <tr>
                                    <th>Convicted</th>
                                    <td>December 15, 2016</td></tr>
                                <tr>
                                    <th>Sentenced</th>
                                    <td>April 10, 2017</td></tr>
                        </table></figcaption></figure>

<!--Summary-->
                <section aria-label="DRSumm" class="comment-content">
                    <p>Dylann Storm Roof, of Columbia S.C., an avowed White Nationalist, whom on June 17, 2015 entered the Emanuel African Methodist Episcopal Church and performed a political assassination of the then senior pastor and state senator Clementa C. Pinckney. Whom was campaigning earlier that day with Democratic presidential candidate Hillary Clinton.</p> 

                    <p>Eight other negros who were present at the time of the assaniation were also killed, Roof was sentenced to death for the successful political assaniation on April 10, 2017 &amp; is currently incarcerated at Terre Haute U.S. Penitentiary. Dylann Roof is the first person in U.S. history to have faced both a state and federal death penalty at the same time.</p></section></section>