<!--Top RoofPro-->
<section aria-label="bondproTop">
    <div class="panel-default">
        <!--Name -->
        <section aria-label="DRBio" class="panel-default panel-body comment-content">
            <section class="panel panel-default panel-body">
                <div class="panel-heading">
                    <hgroup class="panel-title tc">
                        <h6>Dylann Roof</h6>
                        <h5>aka "Storm"</h5></hgroup></div></section>
            <!--Box-->
            <div class="content panel panel-default panel-body">
                <div class="content-inner">
                    <section aria-label="RoofArray" class="cat-main-box">
                        <!--Contain-->
                        <div class="container-fluid">
                            <div class="clearfix"></div>
                            <div class="row panel-row tc">
                                <!--Roof Image-->
                                <figure aria-label="DRoof"> 
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <span class="img-responsive center-block saint-sd sd-Roof">&nbsp;</span></div></div></div>
                                    <!--Roof Brief-->
                                    <figcaption aria-label="RoofBio"> 
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="panel">
                                                <div class="panel-body">
                                                     <table class="dltab data no-wrap" style="width: 300px; height: 300px;">
                                                            <tr>
                                                                <th>Birthday</th>
                                                                <td class="yelloOn">April 3, 1994</td></tr>
                                                            <tr>
                                                                <th>Act</th>
                                                                <td class="yelloOn">June 17, 2015</td></tr>
                                                            <tr>
                                                                <th>Convicted</th>
                                                                <td class="yelloOn">March 31, 2017<br>{State}</td>
                                                                <td class="yelloOn">December 15, 2016<br>{Federal}</td></tr>
                                                            <tr>
                                                                <th>Sentenced</th>
                                                                <td class="yelloOn">April 10, 2017<br>{State}</td>
                                                                <td class="yelloOn">January 11, 2017<br>{Federal}</td></tr>
                                                            <tr>    
                                                                <th>Release Date</th>
                                                                <td class="yelloOn">Death</td></tr>
                                                            </table></div></div></div>
                                                </figcaption></figure>
                                    </div></div></section></div>
                <div class="clearfix"></div>
                <!--Summary-->
                <div class="panel-default panel-body tc">
                    <h5 class="bh">Bio</h5>
                    <p>Dylann Storm Roof, of Columbia S.C., an avowed White Nationalist, whom on June 17, 2015 entered the Emanuel African Methodist Episcopal Church and performed a political assassination of the then senior pastor and state senator Clementa C. Pinckney.<br> 
                    Clementa C. Pinckney, whom was campaigning earlier that day with Democratic presidential candidate Hillary Clinton.</p> 
                    <p>Eight other negros who were present at the time of the assassination were also killed in the process, Roof was sentenced to death for the successful political assassination on April 10, 2017 &amp; is currently incarcerated at Terre Haute U.S. Penitentiary. Dylann Roof is the first person in U.S. history to have faced both a state and federal death penalty at the same time.</p></div></div>
        </section></div></section>