<article>
    <section class="b-content g_panel-body">
        <section class="b-content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#SypTopic">Sypnosis Topics</a>
                        </h4> 
                    </div>
                </div>

                <div id="SypTopic" class="panel panel-default">

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#sypnnavbar">Synopsis</a>
                        </h4> 
                    </div>
                </div>

                <div id="sypnnavbar" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Synopsis">Synopsis</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://NineNein.com/B-Topic/GreyingError/LNST/Synopsis#SOSIntro">Intro</a>  
                        <a class="badge bg-secondary text-decoration-none link-light" href="https://NineNein.com/B-Topic/GreyingError/LNST/Synopsis#LOZDeception">Deception</a> 

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://NineNein.com/B-Topic/GreyingError/LNST/Synopsis#ColorfulCist">ColorCistern</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://NineNein.com/B-Topic/GreyingError/LNST/Synopsis#Beyond">Beyond Deep</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://NineNein.com/B-Topic/GreyingError/LNST/Synopsis#BottomWell">Bottom of Well</a>
                        </p>
                     </div>
                </div>
            </div>
        </section>
    </section>
</article>