<article>
    <section class="b-content g_panel-body">
        <section class="b-content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#TimeTopic">TimeLine Topics</a>
                        </h4> 
                    </div>
                </div>

                <div id="TimeTopic" class="panel panel-default">            

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#timelinenavbar">TimeLine</a>
                        </h4> 
                    </div>
                </div>

                <div id="timelinenavbar" class="panel-collapse collapse">
                    <div class="panel-body"> 
                        <p> 
                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine">TimeLine</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#Hyrule">Hyrule</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#Lorule">Lorule</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#Minish">Minish</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#Termina">Termina</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#Holodrum">Holodrum</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#Labrynna">Labrynna</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#TwilghtRealm">Twilight Realm</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#KoholintIsland">Koholint Island</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#GreatSeas">Great Seas</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#LotSoG">LotSog</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#NewHyrule">New Hyrule</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#LotSoG">Decadent Calamity</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#GreatSeas">Bongo Calamity</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TimeLine#NewHyrule">Great Calamity</a>

                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</article>