<!--InfoWrap Open -->
    <div class="panel-body">
        <section class="content" aria-label="arcadwrap">
            <div class="panel-footy panel-default tc">
<!--Header -->
                <hgroup>
                    <h2 class="icon9add icon9-info-sign text-primary" style="font-size:40px"></h2>
                    <h4>The Arcade</h4></hgroup> 
                <p class="text-muted">This list is presented as an archive of predecessors.<br> These will not play on mobile devices, MUST HAVE PC!</p>
<!--Button -->
                <section class="panel-body" aria-label="Gamewrapp">
                    <div class="btn-1 center-block">
                        <h3 class="panel-title tc">
                        <a style="center" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#arcadeRM"><span>Read - More</span></a></h3></div></section></div>
<!--Arcade ReadMore -->       
            <div id="arcadeRM" class="comment-content panel-collapse collapse">
                <!--Contain -->
                <div class="content panel-body">
                    <div class="content-inner">
<!--Main -->   
                    <section aria-label="GameCulture" class="comment-content">
                        <hgroup class="bible-content tc">
                            <h5>Arcade Play</h5></hgroup>
                                <p>As of now there is no spare time to work on makeing these classic playables online and on Mobile devices there are other avenues that can provide that, our Main Development takes precedent but these classics will in fact be playable through our Main Development. Just not stand alone.<br><br>
                                These legacy games were a massive inspiration of the endless possibilties for NineNeins and are truly gems we did not want lost and buried in the interwebs.</p></section>
                    <section aria-label="GameInspiration" class="comment-content">
                        <hgroup class="bible-content tc">
                            <h5>Favorite Play</h5></hgroup>
                                <p>Classic Favorite Games with the required Emulators to play them if desired on PC. Like alot of things on NineNeins they are not posted here just to be posted here, but serves as a front end storage for our Computers. Makeing it a super interactive Blog/Site/App or whatever word you want to use for it. As well as a super conveient 1 stop shop for anyone looking and us.</p></section>
                        </div></div></div>
<!--Quote -->
                    <div class="panel_row">
                        <div class="blog-content col-MainX col-lg-MainL col-MainM col-sm-MainS">
                        <p class="text-muted">"A game is creative - someone created it.<br><u>There is no better developer than God</u>"</p></div></div></section>
<!--InfoWrap Close -->
    </div>