<div class="content content-3" align="center">
    <h2 class="section-header"><span class="glyphicon glyphicon-info-sign text-primary"></span><br>The Crypto</h2>
    <p class="lead text-muted">This is very IMPORTANT. We have done everything to make this process as easy and enjoyable as possible. Please read and understand this section before sending us Crypto these are factors that are out of our control. Thank You.</p>

    
    <div class="wrap-collabsible">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle">DogeCoin</label>
        <div class="collapsible-content">
            <div class="content-inner">
                <p class="lead text-muted">Send amount is Mininum 10 DOGE to process - keep in mind your wallets transfer fees also.</p>
                <p class="lead text-muted">Typical Transaction Fee 1 Doge = 1 Doge</p>
            </div>
        </div>
    </div>

    
    <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle">Monero</label>
        <div class="collapsible-content">
            <div class="content-inner">
                <p class="lead text-muted">Send amount is Mininum 0.001 XMR to process - keep in mind your wallets transfer fees also.</p>
                    <p class="lead text-muted">Typical Transaction Fee $0.25 = 0.001 XMR</p>
            </div>
        </div>
    </div>

    
    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label for="collapsible3" class="lbl-toggle">Ethereum</label>
        <div class="collapsible-content">
            <div class="content-inner">
                <p class="lead text-muted">Send only normal Ethereum deposits through this method of using instant copy.</p> 
                <p class="lead text-muted">Typical Transaction Fee $20.00 = 0.01 ETH</p> 
                <p class="lead text-muted">To send payments via internal transactions, smart contract payments or ERC-20 tokens use Metamask or Brave Wallet which are built into the NineNeins site.
                You are greeted with this popup when visiting NineNeins if using Brave Browser - or any other WEB3 compatible browser. If your Browser is not Web3 compatible the MetaMask Extension is also built into NineNeins.
            </div>
        </div>
    </div>

    <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox">
        <label for="collapsible4" class="lbl-toggle">BitCoin</label>
        <div class="collapsible-content">
            <div class="content-inner">
                <p class="lead text-muted">Send amount is Mininum 0.0001 BTC to process - keep in mind your wallets transfer fees also.</p>
                <p class="lead text-muted">Typical Transaction Fee $15.00 = 0.00025 BTC</p>
            </div>
        </div>
    </div>

    <center><p class="lead text-muted">Please do not Cross-Send Cryptos. We are not an Exchange.<br> This process should be done in your preferred exchange prior to sending.<br> Please verify you are Sending the Selected Crypto - if they do not match the transaction will fail.</p></center>
</div>