<!--InfoWrap Open -->
    <div class="panel-body">
        <section class="content" aria-label="homewrapp">
            <div class="panel-footy panel-default tc">
<!--Header --> 
                <hgroup>
                    <h2 class="icon9add icon9-info-sign text-primary" style="font-size:40px"></h2>
                    <h4>View Blog</h4></hgroup>
                <p class="text-muted">Updates, guides, pre-release previews,<br> 
                    sponsors, hypotheses, opinion pieces, and articles<br> are all available for everything 9-Neins development.</p>
<!--Button -->
                <section class="panel-body" aria-label="HomeWrap">
                    <div class="btn-1 center-block">
                        <h3 class="panel-title tc">
                        <a style="center" href="blog"><span>Check Blog</span></a></h3></div></section>
                    </div></section>
<!--Quote -->
                <div class="panel_row">
                    <div class="blog-content col-MainX col-lg-MainL col-MainM col-sm-MainS">
                    <p class="text-muted">"For the vision is yet for an appointed time,<br> <u>but at the end it shall speak, and not lie: though it tarry, wait for it; because it will surely come, it will not tarry.</u>"</p></div></div>
<!--InfoWrap Close -->
    </div>