<!--InfoWrap Open -->
    <div class="panel-body">
        <section class="content" aria-label="saintwrapp">
            <div class="panel-footy panel-default tc">
<!--Header -->
            <hgroup>
                <h2 class="icon9add icon9-info-sign text-primary" style="font-size:40px"></h2>
                <h4>o/ Saints</h4></hgroup>
            <p class="text-muted">We dont need anymore martyrs.<br>We dont need anymore lost Brothers or Sisters.</p><p class="text-muted"> What we do need is to make sure our boys did not sacrifice and have given it all up in vain.<br> 
            Give them an o/ and love.</p>  
<!--Buttons --> 
            <section aria-label="HaleSaint" class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="btn-1 center-block">
                            <a style="center" onclick="window.open('../../B-Topic/Support/MatthewHale','_blank'); return false;"><span>Matt Hale</span></a></div> 
                    </div></div></section>
            <section aria-label="RoofSaint" class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="btn-1 center-block">
                            <a style="center" onclick="window.open('../../B-Topic/Support/DylanRoof','_blank'); return false;"><span>Dylan Roof</span></a></div> 
                    </div></div></section>
            <section aria-label="EarnSaint" class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="btn-1 center-block">
                            <a style="center" onclick="window.open('../../B-Topic/Support/JohnEarnest','_blank'); return false;"><span>John Earnest</span></a></div> 
                    </div></div></section>
            <section aria-label="BowersSaint" class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="btn-1 center-block">
                            <a style="center" onclick="window.open('../../B-Topic/Support/RobertBowers','_blank'); return false;"><span>Robert Bowers</span></a></div> 
                    </div></div></section>
                </div></section>
<!--Quote -->
                <div class="panel_row">
                    <div class="blog-content col-MainX col-lg-MainL col-MainM col-sm-MainS">
                    <p class="text-muted">"The big problem is that people<wbr> don't believe a revolution is possible,<br> and it is not possible<wbr> <u>precisely because they do not believe it is possible.</u>"</p></div>
<!--InfoWrap Close -->
    </div>