<article>
    <section class="b-content g_panel-body">
        <section class="b-content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#PhotoTopics">Photo Topics</a>
                        </h4> 
                    </div>
                </div>
                    
                <div id="PhotoTopics" class="panel panel-default">

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#setupnavbar">SetUp</a>
                        </h4> 
                    </div>

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#projectnavbar">Project</a>
                        </h4> 
                    </div>

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#toolnavbar">Tools</a>
                        </h4> 
                    </div>
                </div>


                <div id="setupnavbar" class="panel-collapse collapse">
                    <div class="panel-body"> 

                        <a class="badge bg-secondary text-decoration-none link-light" href="http://9neins/B-Topic/GreyingError/Graphic/FashPhoto#termreason">SetUp</a> 

                    </div>
                </div>

                <div id="projectnavbar" class="panel-collapse collapse">
                    <div class="panel-body">

                        <a class="badge bg-secondary text-decoration-none link-light" href="http://9neins/B-Topic/GreyingError/Graphic/FashPhoto#termreason">Site</a> 


                        <a class="badge bg-secondary text-decoration-none link-light" href="http://9neins/B-Topic/GreyingError/Graphic/FashPhoto#bravejump">Renpy</a> 


                        <a class="badge bg-secondary text-decoration-none link-light" href="http://9neins/B-Topic/GreyingError/Graphic/FashPhoto#protonjump">GoDot</a> 

                        <a class="badge bg-secondary text-decoration-none link-light" href="http://9neins/B-Topic/GreyingError/Graphic/FashPhoto#protonjump">Archiving</a> 
                    </div>
                </div>

                <div id="toolnavbar" class="panel-collapse collapse">
                    <div class="panel-body">

                        <a class="badge bg-secondary text-decoration-none link-light" href="http://9neins/B-Topic/GreyingError/Graphic/FashPhoto#termreason">PhotoShop</a> 

                        <a class="badge bg-secondary text-decoration-none link-light" href="http://9neins/B-Topic/GreyingError/Graphic/FashPhoto#bravejump">Blender</a> 


                        <a class="badge bg-secondary text-decoration-none link-light" href="http://9neins/B-Topic/GreyingError/Graphic/FashPhoto#protonjump">Daz3d</a> 

                    </div>
                </div>
            </div>
        </section>
    </section>
</article>