<section aria-label="MusicTop" class="panel-body">
    <div class="panel panel-default">
    <!--Terms Alert -->
        <section aria-label="BookAlert" id="softwarealert">
            <div class="alert alert-warning alert-dismissible tc" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
                    <p>Making Music is just as dangerous.</p><p>Support Pro-Whites Unafraid. #FREEBOND</p></div></section>
<!--Rap--> 
    <!--Rap Menu Jump -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title tc">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#BondRap">Open Mr.Bond (Rap)</a></h3></div></div>
<!--Open -->
        <div id="BondRap" class="panel-collapse collapse">
            <!--Main-->
            <div class="content panel-body">
                <div class="content-inner">
                    <section aria-label="SaintArray" class="cat-main-box">
                        <section class="comment-content"></section>
<!--Contain -->
        <div class="container-fluid tc">
<!--Mr.Bond -->
            <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <h2>Woke Alone</h2>               
                        <span class="img-responsive center-block musicm mm-BWA">&nbsp;</span>
                        <div class="btn-1 center-block">
                            <a class="btn-readmore button" target="popup" onclick="window.open('https://mega.nz/folder/bO5F3BAR#Y_XX4jG4piS5MjJVnUocqg' , 'popup','width=600,height=600'); return false;"><span>Album</span></a></div>  
                </div></div></section>
            <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-body"> 
                        <h2>Mein Kampf 1-2</h2>
                        <span class="img-responsive center-block musicm mm-BKM">&nbsp;</span>
                        <div class="btn-1 center-block">
                            <a class="btn-readmore button" href="https://mega.nz/#F!POh1FRgY!fkPyYf2JEtngJXvEwa7Q-w" target="_blank"><span>Album</span></a></div>
                </div></div></section>   
            <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-body"> 
                        <h2>Screw Optics</h2>
                        <span class="img-responsive center-block musicm mm-BSO">&nbsp;</span>
                        <div class="btn-1 center-block">
                            <a class="btn-readmore button" href="https://mega.nz/folder/nSpnmTRI#pafuL3UJbitqlLnr1fX3UA" target="_blank"><span>Album</span></a></div>
                </div></div></section>    
            <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-body"> 
                        <h2>Nazi Goes To Africa</h2>
                        <span class="img-responsive center-block musicm mm-BNGA">&nbsp;</span>
                        <div class="btn-1 center-block">
                            <a class="btn-readmore button" href="https://mega.nz/folder/bbgjzD7C#MHzI92WEkbDYYsw_jkEJ3Q" target="_blank"><span>Album</span></a></div>
                </div></div></section>  
                    </div></section>
            </div></div></div>
<!--Rock --> 
    <!--Menu Jump -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 id="Rock-M" class="panel-title tc">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#RWDSJam">Open RWDS (Rock)</a></h3></div></div>
<!--Open-->
        <div id="RWDSJam" class="panel-collapse collapsed">
            <div class="content panel-body">
                <div class="content-inner">
                    <section aria-label="SaintArray" class="cat-main-box">
                        <section class="comment-content"></section>
<!--Contain-->
        <div class="container-fluid tc">
<!--RWDS-->
                <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Enema Caliphate</h2>
                            <span class="img-responsive center-block musicm mm-REOC">&nbsp;</span>

                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" href="https://mega.nz/folder/qTxwjLwA#OkWFuOPPZgscyeLic-oy8A" target="_blank"><span>Album</span></a></div>  
                        </div></div></section>
                <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Cloak and Burka</h2>
                            <span class="img-responsive center-block musicm mm-RCB">&nbsp;</span>

                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" href="https://mega.nz/folder/ufomFR5Y#GWjlm2ZXODo6AUmPsJxSWA" target="_blank"><span>Album</span></a></div> 
                        </div></div></section>
                <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>RWDSE</h2>
                            <span class="img-responsive center-block musicm mm-RWDS">&nbsp;</span>

                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" href="https://mega.nz/folder/7HgWUT4B#isvjn89tzls9h1JttYO2CQ" target="_blank"><span>Album</span></a></div>
                        </div></div></section>  
                            </div></section>
                    </div></div></div>
<!--Parody --> 
<!--Menu Jump -->
    <section id="ParodyMusic">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 id="parody-M" class="panel-title tc">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#parodyjam">Open Morrakiu (Epic)</a></h3></div></div>
<!--Open -->
        <div id="parodyjam" class="panel-collapse collapse">
            <div class="content panel-body">
                <div class="content-inner">
                    <section aria-label="ParArray" class="cat-main-box">
                        <div><h5 class="section-heading tc">Parody Array</h5></div>
<!--Contain -->
        <div class="container-fluid tc">
<!--Morrakiu -->
                <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <span class="img-responsive center-block musicm mm-MOR">&nbsp;</span>
                            <h2>14 Hatey Hate</h2>

                            <div class="btn-1 center-block">
                                <a class="btn-readmore button" href="https://mega.nz/folder/OHBS1BgJ#oLo_FcjtbciNx_k7Ld4_fg" target="_blank"><span>Album</span></a></div>
                        </div></div></section> 
                            </div></section>
                    </div></div></div></section>
<!--SoundTrack -->
<!--Menu Jump -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 id="st-M" class="panel-title tc">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#soundtrackjam">TGBLNH (Soundtrack)</a></h3></div></div>
<!--Title -->
        <div id="soundtrackjam" class="panel-collapse collapse">
            <div class="content panel-body">
                <div class="content-inner">
                    <section aria-label="STArray" class="cat-main-box">
                        <section class="comment-content"></section>
<!--Contain -->
        <div class="container-fluid tc">
<!--Soundtrack -->
            <section class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <h2>TGSNT</h2>
                        <span class="img-responsive center-block musicm mm-GST">&nbsp;</span>
                        <div class="btn-1 center-block">
                            <a class="btn-readmore button" href="https://mega.nz/folder/OHBS1BgJ#oLo_FcjtbciNx_k7Ld4_fg" target="_blank"><span>Album</span></a></div>
                        </div></div></section>
                    </div></section></div></div></div>
                </div></section>
