<!--InfoWrap Open -->
    <div class="panel-body">
        <section class="content" aria-label="hwwrapp">
            <div class="panel-footy panel-default tc">
<!--Header -->
                <hgroup>
                    <h2 class="icon9add icon9-info-sign text-primary" style="font-size: 40px"></h2>
                    <h4>Resources</h4></hgroup> 
                <p class="text-muted">Be wealthy and not consumed.<br> Be vigilant and not a fool.</p>  
            </div></section>
<!--Quote -->
        <div class="panel_row">
            <div class="blog-content col-MainX col-lg-MainL col-MainM col-sm-MainS">
            <p class="text-muted">"It is important not to <u>confuse freedom</u> with mere permissiveness".</p></div></div>
<!--InfoWrap Close -->
    </div>