<article>
    <section class="b-content g_panel-body">
        <section class="b-content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#HWTopics">Hardware Topics</a>
                        </h4> 
                    </div>
                </div>
                    
                <div id="HWTopics" class="panel panel-default">

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#HWarenavbar">Logic</a>
                        </h4> 
                    </div>
                </div>

                <div id="HWarenavbar" class="panel-collapse collapse">
                    <div class="panel-body"> 

                        <a class="badge bg-secondary text-decoration-none link-light" href="#sumitjump">SumUp</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#anonjump">Anonymity</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#parencyjump">Transparent</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#upholdjump">Uphold</a> 
                        <a class="badge bg-secondary text-decoration-none link-light" href="#memberjump">Membership</a> 
                        <a class="badge bg-secondary text-decoration-none link-light" href="#cvjump">CryptoView</a> 
                        <a class="badge bg-secondary text-decoration-none link-light" href="#portajump">Accepted</a> 
                        <a class="badge bg-secondary text-decoration-none link-light" href="#portbjump">NAccepted</a> 
                        <a class="badge bg-secondary text-decoration-none link-light" href="#oppurjump">Oppurtunity</a> 
                        <a class="badge bg-secondary text-decoration-none link-light" href="#endgjump">Endgame</a> 
                        <a class="badge bg-secondary text-decoration-none link-light" href="#WhyCrypto">CryptoTalk</a> 
                        <a class="badge bg-secondary text-decoration-none link-light" href="#whycrypjump">Doge Miracle</a>

                    </div>
                </div>
            </div>
        </section>
    </section>
</article>