<article>
    <section class="b-content g_panel-body">
        <section class="b-content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#RaceTopics">Race Topics</a>
                        </h4> 
                    </div>
                </div>

                <div id="RaceTopics" class="panel panel-default">

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#racenavbar">Race</a>
                        </h4> 
                    </div>
                </div>

                <div id="racenavbar" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race">Race</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race#Zora-Rito">Zora/Rito</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race#Goron">Gorons</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race#Lost-Tribes">Lost Tribes</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race#Gerudo-Twiligh">Gerudo/Twiligh</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race#Nations">Nations</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race#Hierarchies">Hierarchies</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race#Angels">Angels</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race#Demons">Demons</a>
                        
                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Race#Dragons">Dragons</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</article>