<article>
    <section class="b-content g_panel-body">
        <section class="b-content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#ReligTopic">Religion Topics</a>
                        </h4> 
                    </div>
                </div>

                <div id="ReligTopic" class="panel panel-default">
                        
                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#religionnavbar">Religion</a>
                        </h4> 
                    </div>
                </div>

                <div id="religionnavbar" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Religion">Religion</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Religion#Christianity">Christianity</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Religion#Zoroastrianism">Zoroastrianism</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Religion#Buddhism">Buddhism</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Religion#Islam">Islam</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Religion#Judaism">Judaism</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Religion#Pagan">Pagan</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Religion#Esotericism">Kek Esotericism</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</article>