<article>
    <section class="b-content g_panel-body">
        <section class="b-content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#ShieldTopic">Shield Topics</a>
                        </h4> 
                    </div>
                </div>

                <div id="ShieldTopic" class="panel panel-default">

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#shieldnavbar">Shield</a>
                        </h4> 
                    </div>
                </div>

                <div id="shieldnavbar" class="panel-collapse collapse">
                    <div class="panel-body"> 
                        <p>
                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield">Shield</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#KokiriShield">Kokiri Shield</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#HylianShield">Hylian Shield</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#MirrorShield">Mirror Shield</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#MagicShield">Magic Shield</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#SpiritualStones">Spiritual Stones</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#SpiritualMedallion">Spiritual Medallions</a>

                        <a class="badge bg-secondary text-decoration-none link-light"                   href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#Bow-Arrows">Bow/Arrows</a>

                        <a class="badge bg-secondary text-decoration-none link-light"                   href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#Instruments">Instruments</a>

                        <a class="badge bg-secondary text-decoration-none link-light"                   href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#Music">Music</a>

                        <a class="badge bg-secondary text-decoration-none link-light"                   href="https://ninenein.com/B-Topic/GreyingError/LNST/Shield#Mask">Mask</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</article>