<article>
    <section class="b-content g_panel-body">
        <section class="b-content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#SypTopic">Sypnosis Topics</a>
                        </h4> 
                    </div>
                </div>

                <div id="SypTopic" class="panel panel-default">

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#sypnnavbar">Synopsis</a>
                        </h4> 
                    </div>
                </div>

                <div id="sypnnavbar" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/Synopsis">Synopsis</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="#SOSIntro">Intro</a>  
                               <a class="badge bg-secondary text-decoration-none link-light" href="#LOZDeception">Deception Riddles</a> 


                               <a class="badge bg-secondary text-decoration-none link-light" href="#LOZFindingTruth">Finding Truth</a> 

                               <a class="badge bg-secondary text-decoration-none link-light" href="#LOZTRiddle">Truth Riddles</a> 


                               <a class="badge bg-secondary text-decoration-none link-light" href="#LOZWritInShadow">Written Shadows</a> 

                               <a class="badge bg-secondary text-decoration-none link-light" href="#LOZSins">Sins</a> 


                               <a class="badge bg-secondary text-decoration-none link-light" href="#LOZDeception">Hey Listen</a> 


                               <a class="badge bg-secondary text-decoration-none link-light" href="#LOZDeception">Navi Wisdom</a> 


                               <a class="badge bg-secondary text-decoration-none link-light" href="#LOZDeception">Hammer In Hand</a> 

                        <a class="badge bg-secondary text-decoration-none link-light" href="#ColorfulCist">ColorCistern</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="#Beyond">Beyond Deep</a>

                        <a class="badge bg-secondary text-decoration-none link-light" href="#BottomWell">Bottom of Well</a>
                        </p>
                     </div>
                </div>
            </div>
        </section>
    </section>
</article>