<article>
    <section class="b-content g_panel-body">
        <section class="b-content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#TriTopic">Triforce Topics</a>
                        </h4> 
                    </div>
                </div>

                <div id="TriTopic" class="panel panel-default">

                    <div class="panel panel-default panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#triforcenavbar">TriForce</a>
                        </h4> 
                    </div>
                </div>

                <div id="triforcenavbar" class="panel-collapse collapse">
                    <div class="panel-body"> 
                        <p>
                        <a class="badge bg-secondary text-decoration-none link-light" href="https://ninenein.com/B-Topic/GreyingError/LNST/TriForce">Triforce</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</article>
